:host {
  display: block;
  padding-bottom: 1em;
}

.timeline {
  display: table;
  width: 100%;
}

h2, .number, .change {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-stretch: condensed;
  -webkit-font-smoothing: antialiased;
}

h2 {
  color: #999;
  font-size: 0.9em;
  line-height: 1.1;
  margin: 0 0 -2px;
  text-transform: uppercase;
}

.number {
  line-height: 1.0;
  color: #333;
  font-size: 3em;
  padding-bottom: 0.1em;
}

.loading {
  line-height: 1.5;
  color: #ccc;
  font-size: 0.5em;
}

.change {
  font-family: "HelveticaNeue-Condensed", "Helvetica Neue", 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  padding-left: 0em;
}

.units {
  font-size: 0.5em;
}

.increase {
  color: darkgreen;
}

.decrease {
  color: red;
}

.data, .graph {
  display: table-cell;
  vertical-align: top;
  padding-bottom: 1.250em;
}

.data {
  padding-right: 0.250em;
  white-space: nowrap;
  width: 14em;
  padding-left: 1.250em;
  //background-color: yellow;
}

.graph {
  //background-color: pink;
  padding: 0;
  margin: 0;
}

google-chart {
  height: 7em;
  width: 100%;
}

.graph-container {
}
