:host {
  display: block;
}

.timeline {
  display: table;
  width: 100%;
}

h2 {
  color: #999;
  font-size: 0.9em;
  line-height: 1.1;
  margin: 0 0 6px;
  text-transform: uppercase;
}

.number {
  line-height: 0.7;
  color: #333;
  font-size: 3.250em;
}

.loading {
  line-height: 0.7;
  color: #ccc;
  font-size: 0.5em;
}

h2, .number {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-stretch: condensed;
  -webkit-font-smoothing: antialiased;
}

.data, .graph {
  display: table-cell;
  vertical-align: top;
  padding-bottom: 1.250em;
}

.data {
  padding-right: 1.250em;
  white-space: nowrap;
  width: 14em;
  padding-left: 1.250em;
}

.graph {
}

google-chart {
  margin-top: -.725em;
  height: 7em;
  width: 100%;
}
