@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/borders";
@import "../node_modules/ui-font-awesome/font-awesome.less";
@import "../node_modules/ui-font-awesome/font-awesome-icons.less";

:host {
  display: inline-block;
  margin: 1em;
  .border;
  .ultra-dark-tint;
  width: 12em;
  height: 12em;
  overflow: hidden;
}

.value {  
  font-size: 2.5em;
  color: white;
  padding: 0.5em 0em 0em 0em;
  text-align: center;
  position: relative;
  font-weight: 100;
}

.units {
  font-size: 0.5em;
  color: #999;
  font-weight: 200;  
}

.label {
  padding: 1em 0;
  text-align: center;
  color: @light-grey;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.5em;
  .bottom-border;
  .dark-tint;
}

.fraction {
  font-size: 0.7em;
}

.change {
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 2em;
  position: relative;
  icon {
    font-size: 1em;
    position: relative;
  }
}

.increase {
  color: @green; 
  icon {
    top: 8px;
  }
}

.decrease {
  color: @red;
  icon {
    top: -5px;
  }
}

#trend {
  width: 100%;
  height: 3em;
}
